/* SPACING */
:root {

    --spacing-xs: calc(6px / 16px * 1rem);
    --spacing-0: calc(10px / 16px * 1rem);
    --spacing-1: calc(16px / 16px * 1rem);
    --spacing-2: calc(24px / 16px * 1rem);
    --spacing-3: calc(36px / 16px * 1rem);
    --spacing-4: calc(54px / 16px * 1rem);
    --spacing-5: calc(81px / 16px * 1rem);
    --spacing-6: calc(121px / 16px * 1rem);
    --spacing-7: calc(182px / 16px * 1rem);

    --spacing-grid-gap: var(--spacing-0);

}

@-moz-document url-prefix() {
    :root {
        --spacing-xs: 0.375rem;
        --spacing-0: 0.625rem;
        --spacing-1: 1rem;
        --spacing-2: 1.5rem;
        --spacing-3: 2.25rem;
        --spacing-4: 3.375rem;
        --spacing-5: 5.0625rem;
        --spacing-6: 7.5625rem;
        --spacing-7: 11.375rem;
    }
}

@media all and (min-width: 1024px) {
    :root {
        --spacing-grid-gap: var(--spacing-2);
    }
}
