:root {

    --color-black-100: #030000;
    --color-black-75: #3E3C3B;
    --color-black-50: #7A7876;

    --color-white-100: #F1EFEB;
    --color-white-75: #B6B3B0;
    --color-white-50: #7A7775;

    --color-red-100: #C40E3C;

}