/* SPACING */
:root {

    --spacing-xs: calc(6px / 16px * 1rem);
    --spacing-0: calc(10px / 16px * 1rem);
    --spacing-1: calc(16px / 16px * 1rem);
    --spacing-2: calc(24px / 16px * 1rem);
    --spacing-3: calc(36px / 16px * 1rem);
    --spacing-4: calc(54px / 16px * 1rem);
    --spacing-5: calc(81px / 16px * 1rem);
    --spacing-6: calc(121px / 16px * 1rem);
    --spacing-7: calc(182px / 16px * 1rem);

}
