/* ===================================
=colors
=================================== */

:root {
    /* basic variables */
    --color-white: #FFFCFC;

    --color-black: #030000; // default
    --color-black-75: #423F3F;
    --color-black-50: #817E7E;
    --color-black-25:  #C0BDBD;
    
    /* incident variables */
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-text-75: var(--color-black-75);
    --color-text-50: var(--color-black-50);
  }