/* Base grid system */

.grid-layout {

    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: var(--spacing-2) repeat(5, 1fr) var(--spacing-2);

}

@media all and (min-width: 1024px) {

    .grid-layout {
        gap: var(--spacing-grid-gap);
        grid-template-columns: var(--spacing-4) repeat(9, 1fr) var(--spacing-4);
    }

}

/* Sub grid system */

.grid-layout-3 {

    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: repeat(3, 1fr);

}

.grid-layout-5 {

    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: repeat(5, 1fr);

}

.grid-layout-7 {

    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: repeat(7, 1fr);

}

.grid-layout-9 {

    display: grid;
    gap: var(--spacing-grid-gap);
    grid-template-columns: repeat(9, 1fr);

}