:root {
    --mainnav-scroll-offset: var(--spacing-4);
}

@media all and (min-width: 1024px) {
    :root {
        --mainnav-scroll-offset: var(--spacing-5);
    }
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--mainnav-scroll-offset);
    overflow-x: clip;
}

body {
    overflow-x: clip;
}

body:has(.mainnav--nav:target) {
    overflow-y: hidden;
    max-height: 100vh;
}

[id] {
    scroll-margin-top: var(--mainnav-scroll-offset);
}

ul {

    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

.fluidimg {
    max-width: 100%;
    height: auto;
}
