:root {

    --section-spacing-mobile: calc(var(--spacing-xl)*2);
    --section-spacing-tablet: calc(var(--spacing-xl)*3);
    --section-spacing-intermediate: calc(var(--spacing-xl)*4);
    --section-spacing-desktop: calc(var(--spacing-xxxl)*4);

}

.section{
    padding-block-start: var(--section-spacing-mobile);
}

@media(min-width: 768px) {

    .section{
        padding-block-start: var(--section-spacing-tablet);
    }

}

@media(min-width: 1024px) {

    .section{
        padding-block-start: var(--section-spacing-intermediate);
    }

}

@media(min-width: 1920px) {

    .section{
        padding-block-start: var(--section-spacing-desktop);
    }

}