.section{
    padding-top: var(--spacing-4);
    background-color: var(--color-white-100);
}

.section--dark{
    background-color: var(--color-black-100);
}

@media all and (min-width: 1024px) {

    .section{
        padding-top: var(--spacing-6);
    }

}