html{
    background-color: var(--color-white);
}

body {

    overflow-x: hidden;
    padding: 0;
    margin: 0;

}

ul {

    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}
