.section{
    padding-block-end: var(--spacing-6);
    background-color: var(--color-white-100);

    /*
    background-blend-mode: difference;
    */
}

.section--dark{
    background-color: var(--color-black-100);
}