:root {
    --mainnav-scroll-offset: var(--spacing-4);
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--mainnav-scroll-offset);
}

body {
    overflow-x: hidden;
}

body:has(.mainnav--burger-checkbox:checked) {
    overflow-y: hidden;
}

[id] {
    scroll-margin-top: var(--mainnav-scroll-offset);
}

ul {

    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

.fluidimg {
    max-width: 100%;
    height: auto;
}
