:root {

    --spacing-xxs: 6px;
    --spacing-xs: 9px;
    --spacing-s: 12px;
    --spacing-m: 18px;
    --spacing-l: 24px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;
    --spacing-xxxl: 96px;
    --spacing-jumbo: 244px;

}

.grid-layout {

    display: grid;
    grid-template-columns: calc(var(--spacing-l) - var(--spacing-xs)) repeat(5, 1fr) calc(var(--spacing-l) - var(--spacing-xs));
    column-gap: var(--spacing-xs);
    row-gap: var(--spacing-xl);

}

.grid-layout > * {
  grid-column: 2 / -2; // All children span the same columns
}

.grid-layout__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.grid-layout__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

@media all and (min-width: 768px) {

    .grid-layout {

        grid-template-columns: calc(var(--spacing-xl) - var(--spacing-s)) repeat(7, 1fr) calc(var(--spacing-xl) - var(--spacing-s));
        column-gap: var(--spacing-s);
    
    }

    .grid-layout > * {
        grid-column: 3 / -3;
    }

    .grid-layout__header {
        gap: var(--spacing-m);
    }

}

@media all and (min-width: 1024px) {

    .grid-layout {

        grid-template-columns: calc(var(--spacing-xl) - var(--spacing-m)) repeat(9, 1fr) calc(var(--spacing-xl) - var(--spacing-m));
        column-gap: var(--spacing-m);
        row-gap: calc(var(--spacing-xl) + var(--spacing-l));
    
    }

    .grid-layout__header {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-l);
        
        p{
            max-width: 25vw;
        }
    }

}

@media all and (min-width: 1440px) {

    .grid-layout {

        grid-template-columns: calc(var(--spacing-xxl) - var(--spacing-l)) repeat(9, 1fr) calc(var(--spacing-xxl) - var(--spacing-l));
        column-gap: var(--spacing-xxxl);
    
    }

    .grid-layout__header {
        gap: var(--spacing-xl);
    }

}