.banner--footer img{
    aspect-ratio: 16/9;
}

.grid-layout__content--footer{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.grid-layout__content--footer--contact{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

@media all and (min-width: 768px) {

    .banner--footer img{
        aspect-ratio: 18/5;
    }

    .grid-layout__content--footer{
        flex-direction: row;
    }

}

@media all and (min-width: 1024px) {

    .grid-layout__content--footer{
        flex-direction: row;
        gap: var(--spacing-xxxl);
    }
    
}

@media all and (min-width: 1440px) {
    
    .grid-layout__content--footer{
        justify-content: center;
        gap: var(--spacing-jumbo);
    }

}

.footer__contact-item{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

.footer__contact-item-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: var(--color-text-75);
}

.footer-copyright{
    font-size: var(--fontsize-small);
    text-align: center;

    padding-bottom: var(--spacing-s);
}

@media all and (min-width: 1024px) {

    .footer-copyright{
        font-size: var(--fontsize-p);
    }

}

.line{
    border-top: 1px solid var(--color-black);
}