body:has(.mainnav__toggle:checked) {
    overflow: hidden;
    height: 100vh;

    box-sizing: border-box;
}

.-invisible {

    margin-right: auto;
    pointer-events: none;
    
    opacity: 0;

}

.-anim__scrollHidden {

    transform: translateY(calc((-100% * var(--scroll-direction)) - 100.1% ));
    transition-property: transform;
    transition-duration: .2s;
    transition-delay: var(--nav-transition-duration);
    transition-timing-function: ease-in-out;

}

.mainnav__container {

    width: 100%;
    box-sizing: border-box;
    //overflow-x: clip; BREAKS MACOS SAFARI

    position: fixed;
    z-index: 1;
    
    background-color: var(--color-background);
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.45);
}

.mainnav__content {

    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;

}

.mainnav__bar {

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 2;

    pointer-events: none;

}

.mainnav__bar a{

    pointer-events: all;

}

.mainnav__logo {
    width: 120px;
    height: auto;
    display: block;

    padding-block: var(--spacing-m);
}

.mainnav__icon {

    margin-left: auto;
    margin-right: var(--spacing-m);
    padding: var(--spacing-l);
    cursor: pointer;
    pointer-events: all;

    background-image: url(../medias/svgs/Crokcrok_closed.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
}


.mainnav__icon:first-child {

    margin-left: var(--spacing-m);
    margin-right: auto;
}


/*===================
= NAVIGATION 
===================*/

.mainnav__nav {

    width: 100%;
    height: 100vh;

    position: absolute;
    right: -100%;
    z-index: 1;

    background-color: white;

    transition: all 0.3s ease-in-out;

}

.mainnav__list {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing-l);

}

.mainnav__item h2{

    font-size: var(--fontsize-h4);

}

.mainnav__item--active h2{

    text-decoration: underline;

}

/* ---- TOGGLE NAVIGATION ---- */

.mainnav__toggle {

    display: none;

}

.mainnav__toggle:checked ~ .mainnav__nav {

    right: 0;
    z-index: 1;

}

.mainnav__toggle:checked ~ .mainnav__bar .mainnav__icon {

    background-image: url(../medias/svgs/Crokcrok_opened.svg);

}

/*===================
= MEDIA QUERIES
===================*/

@media all and (min-width: 768px) {

    .mainnav__container {

        padding-inline: var(--spacing-xl);

    }

    .mainnav__content {

        flex-direction: row;

    }

    .mainnav__bar {

        justify-content: space-between;

    }

    .mainnav__name {

        padding-block: var(--spacing-l);

    }

    .mainnav__icon {

        display: none !important;

    }

    .mainnav__nav {

        width: 100%;
        position: absolute;
        height: auto;
        right: 0;

        transition: none;

        background-color: transparent;

    }

    .mainnav__list {

        flex-direction: row;
        gap: var(--spacing-xl);

    }

    .mainnav__item h2{

        font-size: var(--fontsize-p);

    }

}

@media all and (min-width: 1024px) {

    .mainnav__item h2{

        font-size: var(--fontsize-h5);

    }

}