.footer__banner{
    grid-area: -1 / 1 / 1 / -1;
    position: relative;
    width: 100%;
    max-height: 212px;
    aspect-ratio: 16 / 9;
}

.footer__banner img{
    display: block;    /* remove inline gap */
    width: 100%;       /* fill parent width */
    height: 100%;      /* preserve intrinsic aspect ratio */
    object-fit: cover;
    object-position: center;
}

.footer__contact-item{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

.footer__contact-item-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: var(--color-text-75);
}

.footer-copyright{
    font-size: var(--fontsize-small);
    text-align: center;

    padding-bottom: var(--spacing-s);
}

.line{
    border-top: 1px solid var(--color-black);
}