.mainnav--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-1) var(--spacing-4);
    background-color: var(--color-white-100);
    /*
    mix-blend-mode: difference;
    */
    position: sticky;
    top: 0;
    z-index: 100;
}

.mainnav--logo {
    width: auto;
    height: 42px;
    display: flex;
    justify-content: flex-start;
}

.mainnav--nav {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-5);

    background-color: var(--color-white-100);
    transition: all 0.2s ease;
}

.mainnav--list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-1);
    padding-inline-start: 30%;
}

.mainnav--item {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
}

.mainnav--item:hover a {
    color: var(--color-red-100);
}

.mainnav--item p {
    opacity: 0;
    user-select: none;
    line-height: 80%;
}

.mainnav--item-active p {
    opacity: 1;
}

.mainnav--language {
    position: absolute;
    bottom: var(--spacing-3);
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    transform: translateX(-50%);
}

.mainnav--language-item-active a {
    font-style: italic;
    font-weight: 400;
}

.mainnav--language-item:hover a {
    color: var(--color-red-100);
}

/* BURGER */
.mainnav--burger-checkbox {
    display: none;
}

.mainnav--burger-checkbox:checked ~ .mainnav--nav {
    left: 0;
}

.mainnav--burger::before {
    content: "open";
}

.mainnav--burger-checkbox:checked ~ .mainnav--burger::before {
    content: "close";
}

.mainnav--burger {
    display: block;
}

.mainnav--hidden {
    opacity: 0;
    pointer-events: none;
}

@media all and (min-width: 1024px) {
    .mainnav--nav {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        gap: var(--spacing-5);
        z-index: auto;
    }

    .mainnav--list {
        gap: var(--spacing-xs);
        padding-inline-start: 0;
    }

    .mainnav--language {
        position: static;
        transform: none;
    }

    .mainnav--burger {
        display: none;
    }
}
