.grid-layout__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.grid-layout__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}