/* banner */

.banner {
    position: relative;
    width: 100%;
    grid-area: -1 / 1 / 1 / -1;

    &__slide {
    display: none;
    flex: 0 0 100%;

    &--active {
        display: block;
        position: relative;
    }
    }

    & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/5;
    object-fit: cover;       /* preserve aspect, center & crop to fill */
    object-position: center; /* ensure centered cropping */
    display: block;
    }

    &__desc {
    position: absolute;
    max-width: calc(50vw - var(--spacing-l));

    bottom: var(--spacing-l);
    right: var(--spacing-l);
    padding: var(--spacing-s);

    color: var(--color-text-light);
    background: var(--color-black-opacity-25);

    text-transform: uppercase;
    font-size: var(--fontsize-small);
    }

    &__indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxs);

    height: 100%;

    position: absolute;
    top: 0px;

    padding-left: var(--spacing-l);

    z-index: 2;
    }

    &__indicator {
    display: inline-block;
    width: calc(var(--spacing-xxs)/2);
    height: var(--spacing-s);
    border-radius: var(--spacing-l);
    background: var(--color-black-opacity-25);
    transition: all 0.3s;
    opacity: 0.5;
    transform: scaleX(1);

    &--active {
      height: var(--spacing-l);
      opacity: 1;
      background: var(--color-white);
      transform: scaleX(1.5);
    }
  }
}

@media all and (min-width: 768px) {

    .banner {
        font-size: var(--fontsize-core);

        & img {
        aspect-ratio: 18/5;
        }
        &__desc {
        max-width: calc(25vw - var(--spacing-l));
        }
    }

}

/* Intro */

.grid-layout__header--center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-layout__header--center h1{
    max-width: 50vw;
}

@media all and (min-width: 768px) {

    .grid-layout__header--center h1{
        max-width: none;
    }
    
}

@media all and (min-width: 1024px) {

    .grid-layout__header--center p{
        max-width: none;
    }

}

/* Carousel */
.carousel {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-m);
    overflow-x: auto;           /* enable horizontal scroll */
    scroll-behavior: smooth;
    padding-top: var(--spacing-s);
}

.carousel__slide {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    flex: 0 0 100%;             /* don't shrink, don't grow, stay at 100% */
    height: auto;       
    position: relative;
    overflow: hidden;

    cursor: pointer;
}

.carousel__slide img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 5;  
    object-fit: cover;       /* preserve aspect, center & crop to fill */
    object-position: center; /* ensure centered cropping */
    display: block;
    filter: grayscale(100%);    

    transition: 0.25s ease-in-out filter;
}

.carousel__slide img:hover {

    filter: none;

}

.carousel__description {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

.carousel--2items{
    padding-top: 0px;
}

@media all and (min-width: 768px) {

    .carousel {
        overflow-x: visible;     
        gap: var(--spacing-s);       
    }

    .carousel__slide {
        flex: auto;
    }

    .carousel__slide img {
        aspect-ratio: 1/1;
    }

    .carousel--2items{
        overflow-x: auto;

        .carousel__slide {
            flex: 0 0 50%;

            & img {
                aspect-ratio: 4/5;
            }
        }
    }

}

@media all and (min-width: 1024px) {

    .carousel--2items {

        h2{
            font-size: var(--fontsize-p);
        }

        .carousel__slide {
            flex: auto;
        }
    }

}

/* ===================================
=SERVICES
=================================== */

.services__header {
    display: flex;
    flex-direction: row;
}