.projectCards__filters {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);

    margin-bottom: var(--spacing-xxl);
}

.filters__input {
    display: none;
}

.filters__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: var(--spacing-s);
    row-gap: var(--spacing-l);
}

.filters__label {
    padding: var(--spacing-xs) var(--spacing-s);
    box-sizing: border-box;

    border: 1px solid var(--color-black);
    border-radius: var(--spacing-l);

    transition: 0.25s ease-in-out;

    cursor: pointer;

    white-space: nowrap;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.projectCards__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-m);

    margin-inline: var(--spacing-m);
    
}

@media all and (min-width: 768px) {
    .projectCards__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--spacing-l);
        margin-inline: var(--spacing-s);
    }
}

@media all and (min-width: 1024px) {
    .projectCards__list {
        margin-inline: var(--spacing-l);
    }
}

@media all and (min-width: 1440px) {
    .projectCards__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--spacing-l);
    }
}

/* ensure each li behaves as a grid item */
.projectCards__item {
    width: 100%;
    box-sizing: border-box;

    display: none;
}

.projectCards__item a {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.projectCard__carrousel {
    display: flex;
    gap: var(--spacing-s);

}

.projectCard__image {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.projectCard__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.projectCard__content div:first-child {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

@media all and (min-width: 768px) {
    .projectCard__content div:first-child {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-m);
    }
}

@media all and (min-width: 1024px) {
    .projectCard__content div:first-child {
        gap: var(--spacing-l);
    }
}

.projectCard__content div div{ // date container
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxs);
}

.projectCard__content div div p{ // date paragraphs
    font-style: italic;
}

@media all and (min-width: 1024px) {
    .projectCard__content div div{

        line-height: var(--fontsize-h5);

    }
}