---
permalink: contact.html
title: Contact
---

{% extends "layouts/base.njk" %}

    {% block content %}

    <div class="section grid-layout contact">
        <h1 class="contact--title">Nous contacter</h1>
        <p class="contact--location">Studio créatif belge<br>
        Liège — Bruxelles — Brabant wallon</p>
    </div>

    <div class="section grid-layout contact--infos">
        <h3 class="contact--infos-text">Nous sommes disponibles du lundi au vendredi, de 10h00 à 16h00. Utilisez le formulaire ci-dessous ou contactez-nous par mail à contact@matestudio.be pour toute demande.</h3>
    </div>

    <div class="section grid-layout contact--details">
        <p class="contact--details-intro">Nous concevons des expériences créatives complètes, en prenant en charge chaque étape, de l’idée à la réalisation. Avec moins de friction, plus de cohérence et plus de liberté créative.</p>
        <p class="contact--details-mail">
            <a href="mailto:contact@matestudio.be">contact@matestudio.be</a>
        </p>
        <p class="contact--details-socials">
            <a href="https://www.instagram.com/matestudio.be/" class="contact--details-link">Instagram</a>
            <a href="" class="contact--details-link">Linkedin</a>
        </p>
    </div>

    <div class="section grid-layout contact--form">
        <form action="/merci/" method="POST" name="contact" data-netlify="true" netlify-honeypot="bot-field" class="contact--form-form">
            <input type="hidden" name="form-name" value="contact">
            <input type="hidden" name="subject" value="Nouveau message depuis le formulaire de contact">
            <p hidden>
                <label>Ne remplissez pas ce champ si vous êtes humain : <input name="bot-field"></label>
            </p>
            <span class="contact--form-line">
                <h5 class="contact--form-name">Prénom</h5>
                <input type="text" name="name" placeholder="Votre prénom" required class="contact--form-input">
            </span>
            <span class="contact--form-line">
                <h5 class="contact--form-name">Nom</h5>
                <input type="text" name="surname" placeholder="Votre nom" required class="contact--form-input">
            </span>
            <span class="contact--form-line">
                <h5 class="contact--form-name">Email</h5>
                <input type="email" name="email" placeholder="Votre adresse e-mail" required class="contact--form-input">
            </span>
            <span class="contact--form-line">
                <h5 class="contact--form-name">Objet</h5>
                <input type="text" name="object" placeholder="Objet de votre message" required class="contact--form-input">
            </span>
            <span class="contact--form-line">
                <h5 class="contact--form-name">Message</h5>
                <textarea name="message" placeholder="Votre message" required class="contact--form-input"></textarea>
            </span>
            <button type="submit" class="contact--form-button" id="contact-form-submit"></button>
            <label for="contact-form-submit" class="cta-Big contact-form-send">
                <h4>Envoyer</h4>
                </label>
        </form>
        <div style="background-image: {% responsiveBackground '/assets/medias/img/team.png' %};" class="contact--form-img fluidimg">
        </div>
    </div>

{% endblock %}
