---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="grid-layout">
        <div class="banner">
            <div class="banner__slide banner__slide--active">
                {% img "src/assets/medias/img/mb01.jpg", "MB-Img-01" %}
                <div class="banner__desc">Mate, ne se propose pas juste de vendre des vêtements, mais de faire briller des endroits au travers de sa vision.</div>
            </div>
            <div class="banner__slide">
                {% img "src/assets/medias/img/mb02.png", "MB-Img-02" %}
                <div class="banner__desc">La marche aux Flambeaux est une marche à liège qui nécessitait une identité graphique forte et distinctive. Nous avons accepté la mission et nous avons livré exactement cela.</div>
            </div>
            <div class="banner__slide">
                {% img "src/assets/medias/img/mb03.png", "MB-Img-03" %}
                <div class="banner__desc">European Running Championships 2025 was a semi & full marathon event stretching from Brussles to Leuven. we set out to capture the dedication that everyone brought to this event.</div>
            </div>
            <div class="banner__indicators">
                <span class="banner__indicator banner__indicator--active"></span>
                <span class="banner__indicator"></span>
                <span class="banner__indicator"></span>
            </div>
        </div>
    </div>
    
    <div class="section grid-layout">
        <div class="grid-layout__header grid-layout__header--center">
            <h1>Bienvenue chez Crok Studio</h1>
            <p class="fc-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="section grid-layout">
        <div class="grid-layout__header">
            <h1>Découvrez nos projets</h1>
            <p class="fc-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="grid-layout__content">
            <h2>Mate Belgium (2023 - 2025)</h2>
            <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="fc-50" style="text-decoration: underline;">Apprendre plus</p>
            
            <div class="carousel">

                <div class="carousel__slide">
                    {% img "src/assets/medias/img/mb01.jpg", "MB-Img-01" %}
                </div>
                <div class="carousel__slide">
                    {% img "src/assets/medias/img/mb02.png", "MB-Img-01" %}
                </div>
                <div class="carousel__slide">
                    {% img "src/assets/medias/img/mb03.png", "MB-Img-01" %}
                </div>

            </div>
        </div>

        <div class="grid-layout__content">
            <h2>Marche aux Flambeaux (2025)</h2>
            <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="fc-50" style="text-decoration: underline;">Apprendre plus</p>
            
            <div class="carousel">

                <div class="carousel__slide">
                    {% img "src/assets/medias/img/maf01.png", "MB-Img-01" %}
                </div>
                <div class="carousel__slide">
                    {% img "src/assets/medias/img/maf02.png", "MB-Img-01" %}
                </div>
                <div class="carousel__slide">
                    {% img "src/assets/medias/img/maf03.png", "MB-Img-01" %}
                </div>

            </div>
        </div>

        <div class="grid-layout__content">
            <h2>European Running Championships (2025)</h2>
            <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="fc-50" style="text-decoration: underline;">Apprendre plus</p>
            
            <div class="carousel">

                <div class="carousel__slide">
                    {% img "src/assets/medias/img/erc01.png", "MB-Img-01" %}
                </div>
                <div class="carousel__slide">
                    {% img "src/assets/medias/img/erc02.png", "MB-Img-01" %}
                </div>
                <div class="carousel__slide">
                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                </div>

            </div>
        </div>

    </div>

    <div class="section grid-layout">
        <div class="grid-layout__header">
            <h1>Découvrez nos services</h1>
            <p class="fc-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="grid-layout__content grid-layout__content--services">
            <div class="service-header">
                <h2>Design Graphique</h2>
                <h2>Projets</h2>
                <p class="hide-content"></p>
            </div>
            <details>
                <summary class="service-header">
                    <p>Production Photo</p>
                    <p>5</p>
                    <p>+</p>
                </summary>
                <div class="service-content">

                    <!-- Clickable labels -->
                    <div class="tab-buttons">
                        <label for="tab1">Evenement</label>
                        <label for="tab2">Immobilier</label>
                        <label for="tab3">Studio</label>
                    </div>

                    <!-- Content areas -->
                    <input class="projectSub__input" type="radio" name="tab" id="tab1" checked> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab2"> <!-- Input hidden -->
                    <div class="tab-content">
                                                <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab3"> <!-- Input hidden -->
                    <div class="tab-content">
                                                <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </details>
            <details>
                <summary class="service-header">
                    <p>Production Vidéo</p>
                    <p>5</p>
                    <p>+</p>
                </summary>
                <div class="service-content">

                    <!-- Clickable labels -->
                    <div class="tab-buttons">
                        <label for="tab4">Evenement</label>
                        <label for="tab5">Immobilier</label>
                        <label for="tab6">Clip Vidéo</label>
                    </div>

                    <!-- Content areas -->
                    <input class="projectSub__input" type="radio" name="tab" id="tab4"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab5"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab6"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </details>
            <details>
                <summary class="service-header">
                    <p>Développement Web</p>
                    <p>5</p>
                    <p>+</p>
                </summary>
                <div class="service-content">

                    <!-- Clickable labels -->
                    <div class="tab-buttons">
                        <label for="tab7">Site Statique</label>
                        <label for="tab8">Web-App</label>
                    </div>

                    <!-- Content areas -->
                    <input class="projectSub__input" type="radio" name="tab" id="tab7" checked> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab8"> <!-- Input hidden -->
                    <div class="tab-content">
                                                <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </details>
            <details>
                <summary class="service-header">
                    <p>Animation</p>
                    <p>5</p>
                    <p>+</p>
                </summary>
                <div class="service-content">

                    <!-- Clickable labels -->
                    <div class="tab-buttons">
                        <label for="tab9">Classique</label>
                        <label for="tab10">Motion Design</label>
                    </div>

                    <!-- Content areas -->
                    <input class="projectSub__input" type="radio" name="tab" id="tab9"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab10"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </details>
                        <details>
                <summary class="service-header">
                    <p>Identité Graphique</p>
                    <p>5</p>
                    <p>+</p>
                </summary>
                <div class="service-content">

                    <!-- Clickable labels -->
                    <div class="tab-buttons">
                        <label for="tab11">Logo</label>
                        <label for="tab12">Charte Graphique</label>
                        <label for="tab13">Affiche</label>
                    </div>

                    <!-- Content areas -->
                    <input class="projectSub__input" type="radio" name="tab" id="tab11"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab12"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <input class="projectSub__input" type="radio" name="tab" id="tab13"> <!-- Input hidden -->
                    <div class="tab-content">
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                        <a href="/">
                            <div class="tab-content__project">
                                <div class="tab-content__image">
                                    {% img "src/assets/medias/img/erc03.png", "MB-Img-01" %}
                                </div>
                                <div class="tab-content__description">
                                    <p>Name</p>
                                    <p>→</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </details>
        </div>
    </div>

    <div class="section grid-layout">
        <div class="grid-layout__header">
            <h1>Qui sommes nous</h1>
            <p class="fc-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="grid-layout__content">
            
            <div class="carousel carousel--2items">

                <div class="carousel__slide">
                    <div class="carousel__slide-img">{% img "src/assets/medias/img/mb01.jpg", "MB-Img-01" %}</div>
                    <div class="carousel__description">
                        <h2>Elann Fraiture</h2>
                        <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="carousel__slide">
                    <div class="carousel__slide-img">{% img "src/assets/medias/img/mb01.jpg", "MB-Img-01" %}</div>
                    <div class="carousel__description">
                        <h2>Martin Charlier</h2>
                        <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="carousel__slide">
                    <div class="carousel__slide-img">{% img "src/assets/medias/img/mb01.jpg", "MB-Img-01" %}</div>
                    <div class="carousel__description">
                        <h2>Arno Joachim</h2>
                        <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="carousel__slide">
                    <div class="carousel__slide-img">{% img "src/assets/medias/img/mb01.jpg", "MB-Img-01" %}</div>
                    <div class="carousel__description">
                        <h2>Théo E.W.</h2>
                        <p class="fc-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

            </div>

        </div>

            <h2 class="fc-50" style="text-align: end;">+ d'infos</h2>
    </div>

{% endblock %}