---
permalink: projects.html
---

{% extends "layouts/base.njk" %}

{% block content %}
    
    <div class="projects--container grid-layout section">
        <div class="projects--filters">
            <h3 class="projects--filters-title">Filtres</h3>
            <ul class="projects--filters-list">
                <li class="projects--filters-item">
                    <h5>all</h5>
                </li>
                <li class="projects--filters-item">
                    <h5>web</h5>
                </li>
                <li class="projects--filters-item">
                    <h5>mobile</h5>
                </li>
                <li class="projects--filters-item">
                    <h5>design</h5>
                </li>
                <li class="projects--filters-item">
                    <h5>branding</h5>
                </li>
            </ul>
        </div>
        <div class="projects--content" id="projects">
            <ul class="projects--list">
                {% for project in collections.projects %}
                    <li class="projects--item">
                        <a href="{{ project.url }}">
                        <img src="{{project.data.cover}}" alt="" class="projects--item-img fluidimg">
                        <div class="projects--item-content">
                            <h2 class="projects--item-title">{{project.data.title}}</h2>
                            <p class="projects--item-description">{{project.data.description}}</p>
                            <p class="cta projects--item-more">En savoir plus</p>
                        </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
   
    {% include "partials/partners.njk" %}

{% endblock %}