<div class="section grid-layout">
    
    <div class="footer__banner">
        {% img "src/assets/medias/img/erc01.png", "Footer Banner" %}
    </div>


    <div class="grid-layout__header">

        <h1>Contactez-Nous</h1>

        <div class="grid-layout__content">
            <h2>E-mail</h2>
            <div class="footer__contact-item-link">
                <a href="mailto:crokstudio.contact@gmail.com">crokstudio.contact@gmail.com</a>
                <p>→</p>
            </div>
        </div>

        <div class="grid-layout__content">
            <h2>Réseaux Sociaux</h2>
            <div class="footer__contact-item-link">
                <a href="/">Instagram (@CrokStudio)</a>
                <p>→</p>
            </div>
            <div class="footer__contact-item-link">
                <a href="/">Facebook (Crok Studio)</a>
                <p>→</p>
            </div>
            <div class="footer__contact-item-link">
                <a href="/">X (@CrokStudio)</a>
                <p>→</p>
            </div>
        </div>

        <div class="grid-layout__content">
            <h2>Business</h2>
            <div class="footer__contact-item-link">
                <a href="/">LinkedIn</a>
                <p>→</p>
            </div>
        </div>

    </div>

    <div class="grid-layout__header">

        <h1>Site</h1>

        <div class="grid-layout__content">
            <h2>Réseaux Sociaux</h2>
            <a href="/index">Acceuil</a>
            <a href="/">Projets</a>
            <a href="/">About</a>
        </div>

        <div class="grid-layout__content">
            <h2>Autre</h2>
            <a href="/">Termes & Services</a>
            <a href="/">Privacy Policy</a>
        </div>

    </div>


    <div class="grid-layout__content">
        <div class="line"></div>
        <p class="footer-copyright">© 2025 Crok Studio, Inc. All rights reserved</p>
    </div>

</div>