<div class="section-dark grid-layout">

    <div class="footer__container">
        <div class="footerText__container">
            <div class="footerText__content">
                <p class="subtitle">Site</p>
                <div class="footerLink__content">
                    <a href="/index" class="coreDM footerLink">Home</a>
                    <a href="/collection" class="coreDM footerLink">Collection</a>
                    <a href="/about" class="coreDM footerLink">About</a>
                    <a href="/shop" class="coreDM footerLink">Shop</a>
                    <!--
                        <a href="/ar" class="coreDM footerLink nojs__link">AR</a>
                    -->

                </div>
            </div>
            <div class="footerText__content">
                <p class="subtitle">Socials</p>
                <div class="footerLink__content">
                    <a href="https://www.instagram.com/matebelgium/" class="coreDM footerLink">Instagram</a>
                    <a href="https://www.tiktok.com/@matebelgium" class="coreDM footerLink">TikTok</a>
                </div>
            </div>
            <div class="footerText__content">
                <p class="subtitle">Nonsense</p>
                <div class="footerLink__content">
                    <a href="" class="coreDM footerLink">Terms & Services</a>
                    <a href="" class="coreDM footerLink">Privacy Policy</a>
                    <a href="" class="coreDM footerLink">Shopping Policy</a>
                    <a href="" class="coreDM footerLink">Return & Refund Policy</a>
                </div>
            </div>
            <div class="footerText__content">
                <p class="subtitle">Contact</p>
                <div class="footerLink__content">
                    <a href="mailto:matebelgium.contact@gmail.com" class="coreDM footerLink">Email</a>
                   
                </div>
            </div>

        </div>
    </div>

    <p class="coreDM footerCR">© 2025 Mate, Inc. All rights reserved</p>
    
</div>