<div class="grid-layout section section--dark footer">
    <h2 class="section__title">Less friction, <br> more creation</h2>

    <div class="footer-section">
        <div class="footer-content">
            <p> Contact </p>
            <div class="footer-links">
                <a href="mailto:info@matestudio.be">info@matestudio.be</a>
            </div>
        </div>
        <div class="footer-content">
            <p> Socials </p>
            <div class="footer-links">
                <a href="">Instagram</a>
                <a href="">LinkedIn</a>
            </div>
        </div>
        <div class="footer-content">
            <p> Navigation </p>
            <div class="footer-links">
                <a href="">Studio</a>
                <a href="">Projects</a>
                <a href="">Contact</a>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-lang">
                <a href="" class="footer-lang-item--active">EN</a>
                <p> | </p>
                <a href="">FR</a>
                <p> | </p>
                <a href="">NL</a>
            </div>
        </div>
    </div>

    <div class="grid-layout footer-copyright">
        <p> © 2026 Mate Studio, Inc. All rights reserved </p>
        
        <div class="copyright-content">
            <a href="">T&C</a>
            <a href="">Privacy</a>
        </div>
    </div>
    
</div>