<nav class ="mainnav--container">

    <a href="/">
        <img class="mainnav--logo" src="assets/medias/svg/MateStudio_Logo-eye.svg" alt="Mate Studio Logo"/>
    </a>

    <div class="mainnav--nav">
        <ul class="mainnav--list">
            <li class="mainnav--item {% if page.url == '/' %} mainnav--item-active {% endif %}">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#studio">Studio</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#expertise">Expertise</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#process">Process</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#comprehension">Compréhension</a>
            </li>
        </ul>
        <ul class="mainnav--list">
            <li class="mainnav--item {% if '/projects' in page.url %} mainnav--item-active {% endif %}">
                <p class="f-nav">></p>
                <a class="f-nav" href="/projects#projects">Projets</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/projects#partners">Partenaires</a>
            </li>
        </ul>

        <ul class="mainnav--list">
            <li class="mainnav--item {% if page.url == '/contact' %} mainnav--item-active {% endif %}">
                <p class="f-nav">></p>
                <a class="f-nav" href="/contact">Contact</a>
            </li>
        </ul>

        <ul class="mainnav--language">
            <li class="mainnav--language-item">
                <a class="f-nav" href="/about">en</a>
            </li>
            <li class="mainnav--language-item">
                <p class="f-nav">/</p>
            </li>
            <li class="mainnav--language-item mainnav--language-item-active">
                <a class="f-nav" href="/about">fr</a>
            </li>
        </ul>
    </div>

</nav>