<nav class ="mainnav--container">

    <img class="mainnav--logo" src="assets/medias/svg/MateStudio_Logo-eye.svg" alt="Mate Studio Logo"/>

    <div class="mainnav--nav">
        <ul class="mainnav--list">
            <li class="mainnav--item mainnav--item-active">
                <p class="f-nav">></p>
                <a class="f-nav" href="/">Studio</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/about">Expertise</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/contact">Process</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/contact">Compréhension</a>
            </li>
        </ul>
        <ul class="mainnav--list">
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/about">Projets</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/contact">Partenaires</a>
            </li>
        </ul>

        <ul class="mainnav--list">
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/about">Contact</a>
            </li>
        </ul>

        <ul class="mainnav--language">
            <li class="mainnav--language-item">
                <a class="f-nav" href="/about">en</a>
            </li>
            <li class="mainnav--language-item">
                <p class="f-nav">/</p>
            </li>
            <li class="mainnav--language-item mainnav--language-item-active">
                <a class="f-nav" href="/about">fr</a>
            </li>
        </ul>
    </div>

</nav>