<nav class ="mainnav--container -anim__scrollHidden">

    <a href="#mainnav" class="mainnav--burger mainnav--hidden" aria-label="Open navigation">open</a>


    <a href="/">
        <img class="mainnav--logo" src="/assets/medias/svg/MateStudio_Logo-eye.svg" alt="Mate Studio Logo"/>
    </a>

    <div class="mainnav--nav" id="mainnav">
        <ul class="mainnav--list">
            <li class="mainnav--item {% if page.url == '/' %} mainnav--item-active {% endif %}">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#studio">Studio</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#services">Services</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#process">Process</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/index.html#vision">Vision</a>
            </li>
        </ul>
        <ul class="mainnav--list">
            <li class="mainnav--item {% if '/projects' in page.url %} mainnav--item-active {% endif %}">
                <p class="f-nav">></p>
                <a class="f-nav" href="/projects#projects">Projets</a>
            </li>
            <li class="mainnav--item">
                <p class="f-nav">></p>
                <a class="f-nav" href="/projects#partners">Partenaires</a>
            </li>
        </ul>

        <ul class="mainnav--list">
            <li class="mainnav--item {% if '/contact' in page.url %} mainnav--item-active {% endif %}">
                <p class="f-nav">></p>
                <a class="f-nav" href="/contact">Contact</a>
            </li>
        </ul>

        <ul class="mainnav--language">
            <li class="mainnav--language-item">
                <a class="f-nav" href="/about">en</a>
            </li>
            <li class="mainnav--language-item">
                <p class="f-nav">/</p>
            </li>
            <li class="mainnav--language-item mainnav--language-item-active">
                <a class="f-nav" href="/about">fr</a>
            </li>
        </ul>
    </div>

    <a href="#mainnav" class="mainnav--burger mainnav--burger-open" aria-label="Open navigation">open</a>
    <a href="#mainnav-close" class="mainnav--burger mainnav--burger-close" aria-label="Close navigation">close</a>

</nav>
